<div class="ui small horizontal divided list">
  <div class="item">
    <i class="stop icon item grey"></i>
    <div class="content">
      Total: {{ stats.total }}
    </div>
  </div>
  <div class="item">
    <i class="stop icon item teal"></i>
    <div class="content">
      Passing: {{ stats.passed }}
    </div>
  </div>
  <div class="item">
    <i class="stop icon item yellow"></i>
    <div class="content">
      Pending: {{ stats.pending }}
    </div>
  </div>
  <div class="item">
    <i class="stop icon item red"></i>
    <div class="content">
      Failed: {{ stats.failed }}
    </div>
  </div>
</div>
