<div class="relative-pos">
  <style>
   .hide {
     display: none;
   }
   .err {
     position: relative;
     z-index: 1;
     width: 50rem;
     right: calc(0% + 15rem);
     background: rgba(0, 0, 0, 0.0);
   }
   .no-space-around {
     margin: 0;
     padding: 0;
   }
   pre {
     width: 75%;
     white-space: pre-line;
     word-break: break-all;
     margin: 0;
     padding: 0;
     background: white;
   }
   code > span.hljs-attr {
     margin-left: 1rem;
   }
  </style>
  {{#if error}}
  <span class="err hide no-space-around">
    <pre>{{{formatError error}}}</pre>
  </span>
  {{/if}}
</div>
