<footer class="site-footer">
  <div class="site-footer-section">
    <p><strong>Can I Verifiable Credential...</strong></p>
    <p>
      Launched and maintained by the good folks at
      <a href="https://digitalbazaar.com/">Digital Bazaar, Inc.</a>
    </p>
    <p>
      Based on the original <a href="https://www.caniuse.com">caniuse.com</a> by
      <a href="https://front-end.social/@Fyrd">@Fyrd</a> and designed by
      <a href="https://mastodon.world/@lensco">@Lensco</a>.
    </p>
    <p>If you see something wrong, please report bugs on GitHub.</p>
  </div>

  <div class="site-footer-section">
    <p><strong>Site Links</strong></p>
    <ul class="site-footer-section-list">
      <li>
        <a href="/">Home</a>
      </li>
    </ul>
  </div>

  <div class="site-footer-section">
    <p><strong>Legend</strong></p>
    <ul class="site-footer-section-list">
      {% for statusMark in legend %}
      <li>{{ statusMark.icon }} = {{ statusMark.label }}</li>
      {% endfor %}
    </ul>
  </div>
</footer>
