<div class="ui small horizontal divided list">
  <div class="item">
    <i class="stop icon item teal"></i>
    <div class="content">
      Passing: {{ passed }}
    </div>
  </div>
  <div class="item">
    <i class="stop icon item yellow"></i>
    <div class="content">
      Pending: {{ pending }}
    </div>
  </div>
  <div class="item">
    <i class="stop icon item red"></i>
    <div class="content">
      Failed: {{ failed }}
    </div>
  </div>
  <div class="item">
    <i class="stop icon item grey"></i>
    <div class="content">
      Total: {{ total }}
    </div>
  </div>
</div>
