<div id="navigation-container" class="ui secondary pointing menu" style="padding-top: 20px;">
  <a href="/" class="item">Home</a>
  <a href="/reports/" class="item">Reports</a>
  <div class="right menu">
    <div class="item">
      {% include "components/Search.html" %}
    </div>
  </div>
</div>

<script>
  // Set the active class for the anchors inside of the navigation container
  document.addEventListener("DOMContentLoaded", () => {
    document.querySelector(`a[href="${window.location.pathname}"]`).classList.add("active");
  })
</script>
