<div id="navigation-container" class="ui secondary menu">
  <a href="/" id="test" class="item">Home</a>
  <!---
    <a class="item">Features</a>
    <a class="item">News</a>
    <a class="item ui small header">April 30, 2023 - April 30, 2023</a>
  -->
  <div class="right item">
    <a href="/issuers/" class="item">Compare Issuers</a>
    <a href="/verifiers/" class="item">Compare Verifiers</a>
  </div>
</div>

<script>
  // Set the active class for the anchors inside of the navigation container
  document.querySelector(`a[href="${window.location.pathname}"]`).classList.add("active");
</script>
