<div class="ui very padded segment">
  <div style="display: flex; align-items: center;">
    <h2 style="margin-bottom: 0;">{{ listTitle }}</h2>
    {% if tooltip %}
    <div data-tooltip="{{ tooltip }}">
      <i class="small info icon grey" style="margin-bottom: 0.5em; margin-left: 0.5em"></i>
    </div>
    {% endif %}
  </div>
  <div class="ui list">
    {%- for item in itemList limit:limit -%}
    <div class="item" style="line-height: 2em; margin-bottom: 4px">
      <div style="display: flex; align-items: center;">
        {% BarRating item.passed item.pending item.failed item.total %}
        <p style="width: 60%; white-space: nowrap; text-overflow: ellipsis; overflow-x: hidden;">
          <a href="/implementations/{{ item.text | slugify }}" style="margin-left: 8px; font-size: 1em">
            {{ item.text }},
          </a> {{ item.passed }} / {{ item.total }}
        </p>
      </div>
    </div>
    {%- endfor -%}
  </div>
  {% if buttonText %}
  <div style="display: flex;">
    <button
      class="ui button"
      style="margin-left: auto; min-width: 130px;"
      onclick="location.href='{{ buttonLink }}'">
      {{ buttonText }}
    </button>
  </div>
  {% endif %}
</div>
