<div class="ui very padded blue inverted segment centered grid">
  <div>
    <p class="ui massive header inverted">Can I</p>
  </div>
  <div>
    <div class="ui large input">
      <input 
        type="text" 
        id="searchField" 
        placeholder="did:key, data integrity..." 
        style="min-width: 275px; margin-top: -4px" />
    </div>
  </div>
  <div>
    <p class="ui massive header inverted">?</p>
  </div>
  <div>
    <button class="ui basic inverted button">
      <i class="icon cog"></i>
      Settings
    </button>
  </div>
</div>

<script>
  // Trigger search by writing input to pagefind input
  document.getElementById("searchField").addEventListener("input", getInput);

  // Copy input into pagefind component
  function getInput(event) {
    const value = event.currentTarget.value;
    const pagefindElements = document.getElementById("search");
    const searchInput = pagefindElements.children[0].children[0].children[0];
    searchInput.value = value;
    const inputEvent = new Event("input");
    searchInput.dispatchEvent(inputEvent);
  }
</script>