<div class="ui very padded segment">
  <div class="ui one column stackable grid">
    <div class="column">
      <div class="ui small black text" v-html="store.resultText"></div>
      <div class="ui divider"></div>
      <div
        v-for="result in store.searchResults"
        class="item"
        style="padding: 24px"
      >
        <a
          class="ui medium black text"
          :href="result.url"
          v-html="result.meta.title"
        ></a>
        <div
          v-if="result.sub_results.length"
          :href="result.url"
          class="ui small black text"
          v-html="result.sub_results[0].excerpt"
        ></div>
        <div class="ui divider"></div>
      </div>
    </div>
  </div>
</div>
